.blank-med-loader-recent-order-card-container {
  display: flex;
  margin: 0 !important;
  min-width: auto !important;
}

.blank-med-loader-recent-order-card-wrapper {
  padding: 10px;
  width: 400px;
  height: 300px;
  margin: 2rem 20px;
  background-color: #fff;
  display: flex;
  flex-flow: column;
  border-radius: 10px;
}

.blank-med-loader-recent-order-rectangle {
  width: 100%;
  height: 47px;
  margin-bottom: 15px;
}

.blank-med-loader-recent-order-order-status {
  margin-left: 15px;
  margin-bottom: 15px;
  width: 95%;
  height: 50px;
}

.blank-med-loader-recent-order-med-item {
  width: 200px;
  height: 15px;
  margin: 5px 0;
  border-radius: 5px;
  margin-bottom: 10px;
}

.blank-med-loader-recent-order-med-item-wrapper {
  width: 100%;
  height: 70px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.blank-med-loader-recent-order-med-button {
  width: 100%;
  height: 70px;
  margin-top: 1rem;
}
