.empty-cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #aac5d3;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 16px;
}

.empty-cart-container img {
  width: 160px;
  margin-bottom: 14px;
}

.empty-cart-container span {
  font-weight: 600;
  font-size: 14px;
  color: #728a9c;
}
