.myOrdersMainContainer {
  width: 100%;
  padding: 32px 14vw 30px 14vw;
}

.myOrdersHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.myOrdersHeader h1 {
  font-weight: 700;
  font-size: 24px;
  color: #40464d;
  padding: 0;
  margin: 0;
}

.myOrdersDetailsContainer {
  padding: 8px 0px 32px 0px;
}

.myOrderFilters {
  display: flex;
  align-items: center;
}

.myOrderSelectPatient {
  background-color: #ffffff;
  border: 1px solid #0071bd;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  margin-right: 24px;
  cursor: pointer;
}

.myOrderSelectPatient .deskImg {
  display: block;
  width: 20px;
  height: 24px;
  margin-right: 14px;
}

.myOrderSelectPatient .mobImg {
  display: none;
}

.myOrderSelectPatient span {
  color: #0071bd;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.myOrderLoaderContainer {
  margin-top: 8vh;
  position: relative;
}

.myOrderLoaderContainer p {
  width: 100%;
  margin: -9px 0px 0px 0px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  color: #728a9c;
}

/* .myOrderTypeFilter .css-1s2u09g-control, */
.myOrderTypePrefix__control
/* .myOrderTypeFilter .css-1pahdxg-control  */ {
  border-color: #0071bd !important;
  min-width: 196px !important;
  cursor: pointer !important;
  box-shadow: none !important;
}

.myOrderTypePrefix__control {
  /* .myOrderTypeFilter .css-1s2u09g-control { */
  border-radius: 4px !important;
}

/* .myOrderTypeFilter .css-qc6sy-singleValue { */
.myOrderTypePrefix__single-value {
  font-weight: 700 !important;
  font-size: 16px !important;
  color: #0071bd !important;
  margin: 0px !important;
  line-height: 24px !important;
}

/* .myOrderTypeFilter .css-319lph-ValueContainer { */
.myOrderTypePrefix__value-container {
  padding: 12px 0px 12px 24px !important;
}

/* .myOrderTypeFilter .css-1okebmr-indicatorSeparator  */
.myOrderTypePrefix__indicator-separator {
  display: none !important;
}

/* .myOrderTypeFilter .css-tj5bde-Svg  */
.myOrderTypePrefix__indicator svg {
  color: #0071bd;
  transition: all 0.3s ease-in 0s;
}

/* .myOrderTypeFilter .css-tlfecz-indicatorContainer,
.myOrderTypeFilter .css-1gtu0rj-indicatorContainer  */
.myOrderTypePrefix__indicator,
.myOrderTypePrefix__dropdown-indicator {
  padding: 0px 19px 0px 9px !important;
}

/* .myOrderTypeFilter .css-26l3qy-menu { */
.myOrderTypePrefix__menu {
  margin: 0px !important;
  box-shadow: none !important;
  border: 1px solid #0071bd !important;
  border-top: none !important;
  border-radius: 0px 0px 4px 4px !important;
}

/* .myOrderTypeFilter .css-4ljt47-MenuList { */
.myOrderTypePrefix__menu-list {
  padding: 0px !important;
  box-shadow: 0px 2px 6px rgb(79 88 94 / 16%);
}

/* .myOrderTypeFilter .css-1n7v3ny-option, */
.myOrderTypePrefix__option--is-focused,
/* .myOrderTypeFilter .css-yt9ioa-option, */
.myOrderTypePrefix__option,
/* .myOrderFilters .css-9gakcf-option */
 .myOrderTypePrefix__option--is-selected {
  padding: 12px 0px 12px 24px !important;
  font-size: 16px !important;
  line-height: 24px !important;
  cursor: pointer !important;
}

/* .myOrderTypeFilter .css-1n7v3ny-option */
.myOrderTypePrefix__option--is-focused:hover {
  background-color: #e5f1f8 !important;
  color: #6e787e !important;
  font-weight: 500 !important;
}

/* .myOrderTypeFilter .css-1n7v3ny-option */
.myOrderTypePrefix__option--is-focused:last-child {
  border-radius: 0px 0px 4px 4px !important;
}

/* .myOrderTypeFilter .css-yt9ioa-option */
.myOrderTypePrefix__option {
  background-color: #fff !important;
  color: #6e787e !important;
  font-weight: 500 !important;
}

/* .myOrderTypeFilter .css-yt9ioa-option */
.myOrderTypePrefix__option:last-child {
  border-radius: 0px 0px 4px 4px !important;
}

/* .myOrderFilters .css-9gakcf-option  */
.myOrderTypePrefix__option--is-selected {
  background-color: #fff !important;
  color: #0071bd !important;
  font-weight: 700 !important;
}

/* .myOrderFilters .css-9gakcf-option */
.myOrderTypePrefix__option--is-selected:last-child {
  border-radius: 0px 0px 4px 4px !important;
}

.myOrderEmpty {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 48px 0px 91px 0px;
}

.myOrderEmptyFirst {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myOrderEmptyFirst img {
  width: 253px;
  height: 179px;
}

.myOrderEmptyFirst span {
  margin: 28px 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #4f585e;
}

.myOrderEmptySecond {
  width: 30%;
}

.myOrderAddMedBtn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 600;
  font-size: 17px;
  background-color: #22b573;
  border-radius: 6px;
  color: #fff;
  white-space: nowrap;
  padding: 10px 37px;
  border: none;
}

@media screen and (max-width: 768px) {
  #myOrderEmptyId {
    margin: 60px 0px 16vw 0px;
  }

  .myOrderEmpty {
    flex-direction: column;
    margin: 14px 0px 16vw 0px;
  }

  .myOrderEmptyFirst {
    width: auto;
    margin-bottom: 36px;
  }

  .myOrderEmptySecond {
    width: auto;
    margin: 0px 16px;
  }

  .myOrderEmptyFirst img {
    width: 184px;
    height: 132px;
  }

  .myOrderEmptyFirst span {
    margin: 25px 0px 33px 0px;
  }
}

@media screen and (max-width: 468px) {
  .myOrdersMainContainer {
    padding: 0;
    position: relative;
  }

  .myOrdersHeader {
    position: sticky;
    top: 60px;
  }

  .myOrdersHeader h1 {
    display: none;
  }

  .myOrderSelectPatient {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #4f585e;
    border: none;
    border-radius: 0;
    padding: 14px;
  }

  .myOrderSelectPatient .deskImg {
    display: none;
  }

  .myOrderSelectPatient .mobImg {
    display: block;
    width: 20px;
    height: 24px;
    margin-right: 8px;
  }

  .myOrderSelectPatient span {
    color: #fff;
  }

  .myOrderSelectType {
    width: 100vw;
    padding: 20px 16px 12px 16px;
    background-color: #fff;
  }

  .css-b62m3t-container {
    width: 100%;
  }

  /* .myOrderTypeFilter .css-1s2u09g-control, */
  .myOrderTypePrefix__control
  /* .myOrderTypeFilter .css-1pahdxg-control */ {
    border-color: #cbd5dc !important;
  }

  /* .myOrderTypeFilter .css-qc6sy-singleValue { */
  .myOrderTypePrefix__single-value {
    color: #4f585e !important;
  }

  /* .myOrderTypeFilter .css-319lph-ValueContainer { */
  .myOrderTypePrefix__value-container {
    padding: 12px 0px 12px 24px !important;
  }

  .myOrderTypeFilter .css-1okebmr-indicatorSeparator {
    display: none !important;
  }

  /* .myOrderTypeFilter .css-tj5bde-Svg  */
  .myOrderTypePrefix__indicator svg {
    color: #4f585e;
  }

  /* .myOrderTypeFilter .css-26l3qy-menu { */
  .myOrderTypePrefix__menu {
    border: 1px solid #cbd5dc !important;
    border-top: none !important;
    border-radius: 0px 0px 4px 4px !important;
  }

  /* .myOrderTypeFilter .css-1n7v3ny-option, */
  .myOrderTypePrefix__option--is-focused,
  /* .myOrderTypeFilter .css-yt9ioa-option, */
  .myOrderTypePrefix__option,
  /* .myOrderFilters .css-9gakcf-option */
  .myOrderTypePrefix__option--is-selected {
    padding: 10px 16px 10px 16px !important;
  }

  /* .myOrderTypeFilter .css-1n7v3ny-option */
  .myOrderTypePrefix__option--is-focused {
    background-color: #fff !important;
  }

  /* .myOrderTypeFilter .css-yt9ioa-option */
  .myOrderTypePrefix__option {
    color: #6e787e !important;
  }

  /* .myOrderFilters .css-9gakcf-option  */
  .myOrderTypePrefix__option--is-selected {
    color: #4f585e !important;
  }

  .myOrdersDetailsContainer {
    padding: 8px 0px 16vw 0px;
  }

  .myOrderLoaderContainer p {
    font-size: 14px;
  }
}
