.App {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.plusIcon {
  font-size: 20px;
}
/* html,
body {
  -webkit-overflow-scrolling: touch !important;
  overflow: auto !important;
  height: 100% !important;
} */

.contentWrap {
  flex: 1;
}
.MuiDialog-root {
  z-index: 10002 !important;
}

.MuiIconButton-edgeEnd {
  margin-right: 0px !important;
}
#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
  width: 10px;
}

#upload-photo-image {
  opacity: 0;
  position: absolute;
  z-index: -1;
  width: 10px;
}

#upload-photo-image1 {
  opacity: 0;
  position: absolute;
  z-index: -1;
  width: 10px;
}

.modal-backdrop {
  z-index: 19500 !important;
}

.uplPrescriptionBtn {
  display: grid;
  align-items: center;
  overflow: hidden;
}

.customNotify {
  position: fixed;
  bottom: 18%;
  left: 0;
  right: 0;
}

.customNotify .ant-message-notice-content {
  background: rgba(0, 0, 0, 0.7);
  min-width: fit-content;
  padding: 5px 20px;
  color: #fff;
  backdrop-filter: blur(12px);
  border-radius: 4px;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.ant-radio-checked::after {
  border: 1px solid #0071bc !important;
}
.ant-radio-inner::after {
  background-color: #0071bc !important;
}

@media screen and (max-width: 768px) {
  .customNotify .ant-message-notice-content {
    padding: 5px 16px;
    background: radial-gradient(
      102.08% 918.75% at -2.08% 6.25%,
      rgba(48, 48, 48, 0.664) 0%,
      rgba(32, 32, 32, 0.648) 99.48%
    );

    min-width: 328px;
  }
}
.customNotify .ant-message-notice-content {
}

.customSidePanelNotify {
  position: fixed;
  bottom: 12%;
  right: 16px;
}

.customSidePanelNotify .ant-message-notice-content {
  color: #fff;
  background: radial-gradient(
    102.08% 918.75% at -2.08% 6.25%,
    rgba(48, 48, 48, 0.664) 0%,
    rgba(32, 32, 32, 0.648) 99.48%
  );
  backdrop-filter: blur(12px);
  border-radius: 4px;
  padding: 5px 16px;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 600;
  min-width: 328px;
  text-align: center;
}

/* //? New UI styling here */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  /* Colors */
  --active-background: #ffebdc;
  --active: #ff7613;
  --green: #55a953;
  --green-dark: #0b7a48;
  --green-light: #dcf9eb;
  --red: #e55934;
  --red-light: #fae2db;
  --accent: #0071bc;
  --accent-light: #edf5fa;
  --accent-dark: #004777;
  --white: #fff;
  --dark-clr: #333;
  --dark-light: #82868b;
  --gray: #b8c2cc;
  --border-clr: #eceaf1;

  /* Shadows */
  /* --shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1); */
  --shadow: 0px 8.6px 14.1px rgba(0, 0, 0, 0.025),
    0px 69px 113px rgba(0, 0, 0, 0.05);
  --border-radius: 0.5em;
}

.ant-modal-mask,
.ant-modal-wrap {
  z-index: 1300 !important;
}

.ant-modal-content {
  border-radius: 10px !important;
  overflow: hidden !important;
}

/* //? TM Wallet new styling -begin */

.FAQModal .MuiDialog-paperFullWidth {
  width: calc(100% - 64px);
  height: 100%;
  margin: 0;
  max-height: none;
  margin: 0 0 0 auto;
}

.FAQModal .MuiAccordion-root {
  border-bottom: 1px solid var(--border-clr) !important;
  align-items: flex-start;
}

.FAQModal .MuiPaper-root {
  border-radius: 0 !important;
}

.FAQModal .MuiAccordion-root .faq-list-text {
  font-weight: 600;
  font-size: medium;
  display: flex;
}

.FAQModal .MuiAccordion-root .faq-list-text::before {
  content: "Q.";
  margin-right: 1em;
  /* font-weight: 700; */
}

.FAQModal .MuiAccordionSummary-content.Mui-expanded {
  margin: 12px 0 !important;
}

.FAQModalBody {
  padding: 2em 1em;
  position: relative;
}

.FAQModalBody .MuiIconButton-root {
  color: var(--dark-light) !important;
}

.FAQModalBody .MuiAccordion-root .MuiSvgIcon-root {
  color: var(--dark-light) !important;
}

.FAQModalBody h1,
.FAQModalBody h2,
.FAQModalBody h3,
.FAQModalBody h4,
.FAQModalBody h5,
.FAQModalBody h6,
.FAQModalBody span,
p {
  /* font-family: "Inter", sans-serif !important; */
}

.FAQModalBody .MuiDialogContent-root {
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
}

.FAQModalBody .MuiAccordionSummary-root {
  align-items: flex-start !important;
}

.FAQModalBody .MuiAccordionDetails-root {
  /* font-family: "Inter", sans-serif !important; */
}

/* .FAQModalBody button {
  position: absolute;
  top: 2em;
  right: 0;
  transform: translate(-0%, -50%);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
} */

.ant-picker-dropdown {
  z-index: 1300 !important;
}

.FAQModal .MuiAccordionSummary-root.Mui-expanded {
  min-height: unset;
}

.FAQModal .MuiAccordion-root.Mui-expanded {
  margin: unset;
}

.FAQModal .faqTitleDivider {
  width: 100%;
  height: 75px;
  background: #fff;
  box-shadow: 0 5px 20px 5px rgb(0 0 0 / 10%);
  margin-top: -74px;
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  z-index: 0;
}

.FAQModal .titleWrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 1em;
  align-items: center;
}

.FAQModal .titleWrapper > button {
  margin-bottom: 1em;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .FAQModal .MuiDialog-paperFullWidth {
    width: 100%;
  }
  .FAQModal .faqTitleDivider {
    top: 60px;
    height: 85px;
  }

  .FAQModal .MuiDialogContent-root {
    padding-top: 2em;
  }

  .FAQModal .titleWrapper {
    /* padding-right: 2em !important; */
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 0.6em;
  }

  .FAQModal .titleWrapper h4 {
    font-size: large !important;
  }

  .FAQModal .titleWrapper > button {
    padding: 0;
    margin-bottom: 0.5em;
  }
}

/* ? Custom date modal */

.customDateModal .customDateModalWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  align-items: center;
}

.customDateModal .customDateModalWrapper .ant-input-group {
  display: flex;
  flex-flow: column;
  gap: 0.25em;
  align-items: flex-start;
}

.customDateModal .customDateModalWrapper .ant-input-group .ant-picker {
  width: 100%;
}

.customDateModal .customDateModalWrapper button {
  grid-column: 1/3;
}

.customDateModal .customDateModalWrapper .ant-input-group label {
  font-weight: 700;
}

.ant-modal-title {
  font-weight: 700 !important;
}

button.bbtn {
  width: 100%;
  height: auto;
  padding: 0.75em 1em;
  border-radius: 5px !important;
  background-color: var(--accent);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  gap: 0.5em;
  border: 1px solid var(--accent);
  transition: all 200ms ease-in-out;
}

button.bbtn svg {
  font-size: large;
}

button.bbtn:hover,
button.bbtn:focus {
  cursor: pointer;
  background-color: #00568f;
}

button.bbtn:disabled {
  cursor: not-allowed;
  border: none;
  background-color: #dddddd;
  color: #74797d;
}

/* //? TM Wallet new styling -ends */
