@import "~react-image-gallery/styles/css/image-gallery.css";

.productDetailsMainContainer {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 30px auto 0px auto;
}

.productDetailsFirstContainer {
  max-width: 70%;
  width: 70%;
}

.productDetailsSecondContainer {
  display: flex;
  flex-direction: column;
  width: auto;
  min-width: 30%;
  margin-left: 15px;
}

.productDetailsSecondContainer .orderBanner {
  margin-top: 15px;
  cursor: pointer;
}

.productDetailsContainer {
  display: flex;
  align-items: flex-start;
  margin: 5px 0px 20px 0px;
}

.productDetailsContainer p {
  margin-bottom: 0px !important;
}

.productDetailsContainer h1,
.productDetailsContainer h2,
.productDetailsContainer h3,
.productDetailsContainer ul,
.productDetailsContainer ol {
  padding: 0px !important;
  margin: 0px !important;
}

.productDetailsContainer .productDetailsImg {
  width: 30px;
  margin-right: 10px;
}

.productDetailsInsideContainer {
  display: flex;
  flex-direction: column;
}

.productDetailsInsideContainer span:nth-child(1) {
  font-size: 19px;
  font-weight: 700;
  color: #333;
  margin-bottom: 5px;
}

.productDetailsInsideContainer span:nth-child(2) {
  font-size: 14px;
  font-weight: 400;
  color: #666;
}

.productDetailsDoctorsMainSection {
  box-shadow: 0px 20px 50px rgb(49 45 43 / 10%);
}

.productDetailsDoctorsSection {
  display: flex;
  align-items: flex-start;
  padding: 15px;
}

.productDetailsDoctorsSection img {
  width: 60px;
  /* border: 1px solid #6ec1fd; */
  border-radius: 50%;
  margin-right: 10px;
}

.productDetailsDoctorsSection div {
  display: flex;
  flex-direction: column;
}

.productDetailsDoctorsSection div span:nth-child(1) {
  font-size: 12px;
  font-weight: 400;
  color: #999;
}

.productDetailsDoctorsSection div span:nth-child(2) {
  font-size: 19px;
  font-weight: 400;
  color: #333;
}

.productDetailsDoctorsSection div span:nth-child(3) {
  font-size: 14px;
  font-weight: 400;
  color: #666;
}

.productDetailsFeaturedMeds {
  margin-top: 20px;
}

.productDetailsSlideShowContainer {
  display: flex;
  align-items: flex-start;
  padding: 10px 10px 15px 0px;
}

#productDetailsSlideShowContainerId .image-gallery {
  width: 100% !important;
  margin: 0 !important;
}

.productDetailsSlideShowContainer .image-gallery {
  width: 46%;
  margin-right: 20px;
}

.productDetailsStockImg {
  width: 35%;
  margin-right: 40px;
}

.productDetailsMedicineContainer {
  display: flex;
  flex-direction: column;
  width: 54%;
}

.productDetailsMedicineFirstContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  position: relative;
}

.productDetailsMedicineFirstContainer h1 {
  font-size: 24px;
  color: #333;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.productDetailsMedicineFirstContainer span {
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.productDetailsMedicineFirstContainer img {
  width: 30px;
  cursor: pointer;
}

.productDetailsShareOptions {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  top: 50px;
  right: 0;
}

.productDetailsOthersSection {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  width: 85%;
  margin: 20px 0px;
}

.productDetailsOthersContainer {
  display: flex;
  flex-direction: column;
}

.productDetailsOthersContainer span:nth-child(1) {
  font-size: 12px;
  font-weight: 400;
  color: #999;
  margin-bottom: 2px;
}

.productDetailsOthersContainer span:nth-child(2) {
  font-size: 12px;
  font-weight: 600;
  color: #333;
  /* text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; */
}

/* .productDetailsOthersContainer span:nth-child(2):hover {
    text-overflow: initial;
    overflow: visible;
    white-space: normal;
  } */

.productDetailsReadMore {
  color: #0071bc;
  cursor: pointer;
  font-size: 12px;
}

.productDetailsPriceContainer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.productDetailsPriceContainerSize {
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

.productDetailsPriceSection {
  display: flex;
  align-items: center;
}

.productDetailsPriceSection span:nth-child(1) {
  /* font-family: "Century Gothic Bold", sans-serif; */
  font-size: 25px;
  color: #333;
  font-weight: 700;
}

.productDetailsPriceSection span:nth-child(2) {
  font-size: 14px;
  font-weight: 400;
  color: #333;
  margin: 8px 0px 0px 5px;
}

.productDetailsRibbonDiscountContainer {
  position: relative;
  margin: 5px 0px 0px 5px;
}

.productDetailsRibbonDiscountContainer img {
  width: 60px;
}

.productDetailsRibbonDiscountContainer span {
  position: absolute;
  color: #fff !important;
  /* font-family: "Century Gothic Bold", sans-serif; */
  font-weight: 700;
  font-size: 10px !important;
  top: 3.5px;
  left: 4px;
  margin: 0 !important;
}

.productDetailsPriceInclusive {
  font-size: 10px;
  font-weight: 400;
  color: #999;
}

.productDetailsButtonContainer {
  margin-top: 10px;
  width: 50%;
}

.productDetailsButtonContainer span {
  color: #999;
  font-weight: 600;
  font-size: 14px;
}

.productDetailsQuantityContainer {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.medCardQuantityContainer .css-b62m3t-container {
  width: 100px !important;
  @media screen and (max-width: 468px) {
    width: 80px !important;
  }
}

.medCardQuantityContainer .css-1s2u09g-control,
.medCardQuantityContainer .css-1pahdxg-control {
  border: 1.6px solid #0071bc !important;
  border-radius: 6px;
  height: 44px !important;
  @media screen and (max-width: 468px) {
    height: 30px !important;
  }
}

.medCardQuantityContainer .css-1okebmr-indicatorSeparator {
  display: none !important;
}

.medCardQuantityContainer .css-tj5bde-Svg,
.medCardQuantityContainer .css-qc6sy-singleValue {
  color: #0071bc !important;
  font-weight: 600;
  font-size: 16px;
}

.medCardQuantityContainer .css-1pahdxg-control:hover {
  border-color: #0071bc !important;
}

.medCardQuantityContainer .css-2613qy-menu div {
  color: #0071bc !important;
}

.medCardQuantityContainer .css-1n7v3ny-option {
  background-color: #f5f5f5;
  color: #0071bc !important;
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter";
}

.medCardQuantityContainer .css-tlfecz-indicatorContainer {
  color: #0071bc !important;
}
.medCardQuantityContainer .css-9gakcf-option {
  background-color: #e6f7ff;
  color: #0071bc !important;
}

.medCardQuantityContainer .css-yt9ioa-option {
  color: #0071bc !important;
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter";
}

.medCardQuantityContainer .css-14el2xx-placeholder {
  color: #0071bc !important;
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter";
}

/* .image-gallery-content{
    border: 1px solid #e74c3c;
  } */

.productDetailsSlideShowContainer .image-gallery-slide-wrapper {
  width: 88%;
  margin: 0px auto;
}

.productDetailsSlideShowContainer .image-gallery-thumbnail {
  width: 35px;
  height: 35px;
}

.productDetailsSlideShowContainer
  .image-gallery-thumbnail
  .image-gallery-thumbnail-image {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.productDetailsSlideShowContainer .image-gallery-slide-wrapper {
  position: initial;
}

.productDetailsSlideShowContainer .image-gallery-slide .image-gallery-image {
  padding: 5px;
  height: 200px;
}

.productDetailsLeftArrow {
  width: 20px;
  position: absolute;
  left: -5px;
  top: 35%;
  z-index: 1;
  cursor: pointer;
}

.productDetailsRightArrow {
  width: 20px;
  position: absolute;
  right: -5px;
  top: 35%;
  z-index: 1;
  cursor: pointer;
}

.productDetailsSlideShowContainer .image-gallery-thumbnail {
  border: 1px solid rgba(153, 153, 153, 0.5);
  border-radius: 4px;
}

.productDetailsSlideShowContainer .image-gallery-thumbnail:hover {
  border: 1px solid #0071bc;
  border-radius: 4px;
}

.productDetailsSlideShowContainer .image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus {
  border: 1px solid #0071bc;
  border-radius: 4px;
}

.productDetailsSlideShowContainer
  .image-gallery-thumbnails
  .image-gallery-thumbnails-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  cursor: default;
}

.react-viewer-canvas {
  background-color: #fff !important;
}

.react-viewer-attribute {
  color: #333 !important;
  font-size: 16px !important;
  font-weight: 600 !important;
}

.react-viewer-navbar {
  background-color: #fff !important;
}

.react-viewer-list > li {
  margin: 0px 5px !important;
  border: 1px solid rgba(153, 153, 153, 0.5);
  border-radius: 4px;
  width: 50px !important;
}

.react-viewer-list > li:hover {
  border: 1px solid #0071bc !important;
}

.react-viewer-list > li > img {
  width: 45px !important;
  height: 45px !important;
  object-fit: contain !important;
  margin: auto !important;
}

.react-viewer ul {
  margin: 0 !important;
}

.react-viewer-toolbar li {
  margin-right: 10px !important;
}

.react-viewer-navbar {
  padding: 10px;
}

.react-viewer-footer {
  background-color: #fff !important;
  padding-top: 10px;
}

.react-viewer-btn {
  background-color: #0071bc !important;
}

.circle-loading {
  border: 10px solid #0071bc !important;
  border-top-color: #fff !important;
}

#productDetailsMedicine {
  width: 100%;
}

#productDetailsMedicineDiv {
  margin-left: 38px;
}

.productDetailsMobileContainer {
  /* display: none; */
}

/* .additionalDetailsMobile {
    display: none;
  } */

.productDetailsBreadcrumbs span {
  color: #666;
  font-size: 12px;
  font-weight: 500;
}

.productDetailsBreadcrumbs span:nth-child(1) {
  cursor: pointer;
}

.productDetailsButtonsMainContainer {
  display: none;
}

.productDetailsSidePanelQty {
  display: flex;
  justify-content: end;
  color: #40464d;
  font-family: "Inter";
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.pdSaveCard {
  background-color: #41a45c;
  border-radius: 6px;
  margin: 24px 14px 24px 14px;
  padding: 14px;
  display: flex;
  align-items: flex-start;
}

.pdSaveCardDesWrap {
  margin: 15px -15px;
}
.pdSaveCard img {
  width: 50px;
  margin: 10px 10px 0px 0px;
}

.pdSaveCard div {
  display: flex;
  flex-direction: column;
}

.pdSaveCard div span {
  color: #fff;
  font-size: 14px;
}

.pdSaveCard div div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4px;
}

.pdSaveCard div div span:nth-child(1) {
  font-size: 14px;
  font-weight: 600;
  margin-right: 4px;
}

.pdSaveCard div div span:nth-child(2) {
  font-size: 16px;
  font-weight: 700;
}

@media screen and (max-width: 1400px) {
  .productDetailsMainContainer {
    width: 80%;
    margin: 25px auto 0px auto;
  }
  .productDetailsButtonsMainContainer {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .productDetailsMainContainer {
    width: 90%;
    margin: 25px auto 0px auto;
  }
  .productDetailsButtonsMainContainer {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .productDetailsMainContainer {
    width: auto;
    margin: 25px;
  }
  .productDetailsMedicineFirstContainer h1 {
    font-size: 22px;
  }
  .productDetailsMedicineFirstContainer span {
    font-size: 22px;
  }
  .productDetailsPriceSection span:nth-child(1) {
    font-size: 23px;
  }
  .productDetailsButtonsMainContainer {
    display: none;
  }
}

@media screen and (max-width: 968px) {
  .productDetailsContinueButton {
    /* display: none; */
  }
  .productDetailsSecondContainer {
    margin-left: 10px;
  }
  .productDetailsButtonContainer span {
    font-size: 13px;
  }
  .productDetailsButtonsMainContainer {
    display: flex;
    background-color: #fff;
    padding: 10px;
    gap: 20px;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: 100vw;
    padding: 5px;
  }
}

@media screen and (max-width: 768px) {
  .productDetailsMainContainer {
    flex-direction: column;
  }
  .productDetailsSecondContainer .orderBanner {
    display: none;
  }
  .productDetailsFirstContainer {
    width: auto;
    max-width: 100%;
  }
  .productDetailsSecondContainer {
    margin: 8px 0px;
  }
  .productDetailsSlideShowContainer .image-gallery {
    width: 50%;
  }
  .productDetailsStockImg {
    width: 40%;
    margin-right: 40px;
  }
  .productDetailsMedicineContainer {
    width: 50%;
  }
  .productDetailsDoctorsMainSection {
    display: flex;
    justify-content: center;
  }
  .image-gallery-thumbnails {
    padding: 5px 0;
  }
}

@media screen and (max-width: 480px) {
  .productDetailsMainContainer {
    margin: 5px 15px;
  }
  .productDetailsSlideShowContainer {
    flex-direction: column;
  }
  .productDetailsSlideShowContainer {
    padding: 5px 5px 10px 5px;
  }
  .productDetailsSlideShowContainer .image-gallery {
    width: 100%;
  }
  .productDetailsStockImg {
    display: none;
  }
  .productDetailsMedicineContainer {
    width: 100%;
  }
  .productDetailsDoctorsMainSection {
    display: block;
  }
  .productDetailsButtonContainer {
    width: 100%;
  }
  .productDetailsButtonContainer span {
    font-size: 12px;
  }
  .productDetailsMedicineFirstContainer h1 {
    font-size: 18px;
  }
  .productDetailsMedicineFirstContainer span {
    font-size: 18px;
  }
  .productDetailsOthersContainer span:nth-child(1) {
    font-size: 12px;
  }
  .productDetailsOthersContainer span:nth-child(2) {
    font-size: 12px;
  }
  .productDetailsPriceSection span:nth-child(1) {
    font-size: 19px;
  }
  .productDetailsPriceSection span:nth-child(2) {
    font-size: 12px;
  }
  .productDetailsRibbonDiscountContainer img {
    width: 50px;
  }
  .productDetailsRibbonDiscountContainer span {
    font-size: 8px !important;
    top: 4px;
  }
  .productDetailsPriceInclusive {
    font-size: 8px;
  }
  .productDetailsContainer .productDetailsImg {
    width: 20px;
  }
  .productDetailsInsideContainer span:nth-child(1) {
    font-size: 14px;
  }
  .productDetailsInsideContainer span:nth-child(2) {
    font-size: 12px;
  }
  .productDetailsDoctorsSection img {
    width: 45px;
  }
  .productDetailsDoctorsSection div span:nth-child(1) {
    font-size: 10px;
  }
  .productDetailsDoctorsSection div span:nth-child(2) {
    font-size: 14px;
  }
  .productDetailsDoctorsSection div span:nth-child(3) {
    font-size: 12px;
  }
  .react-viewer-attribute {
    font-size: 14px !important;
  }
  .react-viewer-list > li {
    width: 40px !important;
    height: 40px !important;
  }
  .react-viewer-list > li > img {
    width: 35px !important;
    height: 35px !important;
  }
  .circle-loading {
    width: 40px;
    height: 40px;
    border: 8px solid #0071bc !important;
    border-top-color: #fff !important;
  }
  #productDetailsMedicineDiv {
    margin: 0;
  }
  .productDetailsDesktopContainer {
    display: none;
  }
  .productDetailsMobileContainer {
    display: block;
  }
  .productDetailsMobileContainer hr {
    margin: 4px 0px;
  }
  .productDetailsMobile {
    display: flex;
    align-items: center;
  }
  .productDetailsMobile img {
    width: 25px;
    margin-right: 10px;
  }
  .productDetailsMobile span {
    color: #333;
    font-weight: 600;
    font-size: 14px;
  }
  .additionalDetailsMobile {
    background-color: #fff;
    margin: 15px 0px 5px 0px;
    padding: 5px 0px;
    box-shadow: 0px 20px 50px rgb(49 45 43 / 10%);
  }
  .productDetailsBreadcrumbs {
    margin-top: 5px !important;
  }
  .productDetailsBreadcrumbs span {
    font-size: 12px;
  }
  .productDetailsMedicineFirstContainer img {
    width: 25px;
  }
  .productDetailsShareOptions {
    gap: 12px;
    top: 45px;
  }
}
