.productCardLoader_productList {
}

.productCardLoader_productItem {
  padding: 16px;
  display: flex;
  width: 100%;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0productCardLoader_1);
}

.productCardLoader_productItem:last-child {
  border-bottom: none;
}

.productCardLoader_productImageWrap {
  width: 15%;
}

.productCardLoader_productDetailsWrapper {
  width: 85%;
  margin-left: 10px;
}

.productCardLoader_productName {
  width: 100px;
  height: 16px;
  margin-bottom: 6px;
  border-radius: 4px;
  display: block;
}

.productCardLoader_productCompanyName {
  width: 80px;
  height: 12px;
  margin-bottom: 6px;
  border-radius: 4px;
  display: block;
}

.productCardLoader_priceContainer {
  margin-top: 16px;
}

.productCardLoader_sellingPrice {
  width: 50px;
  height: 16px;
  border-radius: 4px;
  margin-bottom: 6px;
}

.productCardLoader_pricingWrap {
  display: flex;
}

.productCardLoader_mrp {
  width: 60px;
  height: 12px;
  margin-right: 7px;
  border-radius: 4px;
}

.productCardLoader_discount {
  width: 60px;
  height: 12px;
  margin-right: 7px;
  border-radius: 4px;
}

.productCardLoader_qty {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 44px;
  height: 22px;
  border-radius: 4px;
}
