.addressDetailsSidepanel_addressEditWrap {
  padding: 15px 25px 0px 25px;
}

.addressDetailsSidepanel_InputWrapper {
  margin-bottom: 15px;
}

.addressDetailsSidepanel_input_label {
  color: #4f585e;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
  position: relative;
}

.addressDetailsSidepanel_inputForm:active,
.addressDetailsSidepanel_inputForm:focus {
  border: 1px solid #0071bc !important;
  outline: #0071bc;
}
.addressDetailsSidepanel_inputForm {
  color: #4f585e !important;
  font-weight: 600;
  font-size: 16px !important;
  border: 1px solid #c6c9cc !important;
  height: 44px;
  border-radius: 6px !important;
  caret-color: #0071bc;
}

.addressDetailsSidepanel_inputForm:autofill,
.addressDetailsSidepanel_inputForm:autofill:hover,
.addressDetailsSidepanel_inputForm:autofill:focus {
  color: #4f585e !important;
  font-weight: 100;
  font-size: 16px !important;
}

.addressDetailsSidepanel_inputFormDisabled {
  color: rgba(0, 0, 0, 0addressDetailsSidepanel_25) !important;
}

.addressDetailsSidepanel_errorText {
  color: #f15959;
  font-size: 12px;
  margin-top: 5px;
  font-weight: 400;
}

.addressDetailsSidepanel_errorInput {
  border-color: #f15959 !important;
}

.addressDetailsSidepanel_typeWrap {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.addressDetailsSidepanel_typeSelection {
  font-size: 14px;
  color: #4f585e;
  font-weight: 600;
  border: 1px solid #c6c9cc;
  border-radius: 25px;
  padding: 6px 15px;
  cursor: pointer;
}

.addressDetailsSidepanel_selectedAddress {
  background: #41a45c;
  color: #fff;
  border: none;
}

.addressDetailsSidepanel_pincodeLoader {
  position: absolute;
  bottom: -42px;
  right: 10px;
  z-index: 1;
}
