.addressPatientDetails_outerWrap {
}
.addressPatientDetails_contentSectionWrap {
  padding: 16px 24px;
}
.addressPatientDetails_patientCardWrap {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  transition: scroll-behavior 1s ease;
  min-width: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  gap: 15px;
}

.addressPatientDetails_patientCardWrap::-webkit-scrollbar:horizontal {
  height: 0;
  width: 0;
  display: none;
}

.addressPatientDetails_patientCardWrap::-webkit-scrollbar-thumb:horizontal {
  display: none;
}

.addressPatientDetails_buttonWrap {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 16px 24px;
}

.addressPatientDetails_saveBtn {
  font-weight: 600 !important;
  font-size: 16px !important;
  background-color: #0071bc !important;
  border-radius: 6px !important;
  color: #fff !important;
  width: 100%;
  height: 44px !important;
  white-space: nowrap;
}

.addressPatientDetails_buttonWraps {
  display: flex;
  justify-content: end;
  gap: 5px;
}

.addressPatientDetails_leftArrow {
  cursor: pointer;
  transform: rotate(-90deg);
}

.addressPatientDetails_rightArrow {
  cursor: pointer;
  transform: rotate(90deg);
}

.addressPatientDetails_addSubText {
  font-size: 12px;
  color: #4f585e;
  font-weight: 400;
  margin-top: -5px;
  margin-bottom: 25px;
}
