.selectPatientFilterContainer {
  padding: 39px 16px 110px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 91vh;
}

.selectPatientFilterContainer p {
  margin: 0px 0px 14px 0px;
  padding: 0;
  color: #f15959;
  font-weight: 400;
  font-size: 14px;
}

.selectPatientFilterCheckboxContainer {
  margin-bottom: 24px;
}

.selectPatientFilterCheckboxContainer span {
  font-weight: 400;
  font-size: 14px;
  color: #51585e;
  padding: 0px 5px 0px 0px !important;
}

.selectPatientFilterCheckbox .MuiIconButton-label,
.MuiCheckbox-colorSecondary.Mui-checked {
  color: #5d8bd6 !important;
}

.MuiCheckbox-colorSecondary.Mui-checked:hover,
.MuiIconButton-colorSecondary:hover,
.MuiIconButton-root:hover {
  background-color: transparent !important;
}

/* .PrivateSwitchBase-root-2 {
  padding: 0px 10px 0px 0px !important;
} */

.selectPatientFooter {
  position: fixed;
  bottom: 0;
  padding: 24px 16px;
  width: 360px;
  border-top: 1px solid #cbd5dc;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selectPatientFooter p {
  color: #0071bc;
  font-weight: 600;
  font-size: 16px;
  width: 32%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .selectPatientFilterContainer {
    min-height: 88vh;
  }
  .selectPatientFilterContainer p {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 468px) {
  .selectPatientFilterContainer {
    padding: 16px 16px 110px 16px;
    min-height: 310px;
    max-height: 60vh;
    overflow-y: auto;
  }
  .selectPatientFilterContainer p {
    margin-bottom: 0px;
  }
  .PrivateSwitchBase-root-1 {
    padding: 0px 10px 0px 0px !important;
  }
  .selectPatientFilterCheckboxContainer {
    margin-bottom: 12px;
  }
  .selectPatientFooter {
    width: 100%;
  }
}
