.medListModalContainer .MuiDialog-paperWidthSm {
  width: 388px !important;
}

.medListModalHeader {
  padding: 25px 16px 16px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #bdbdbd;
}

.medListModalHeader span:nth-child(1) {
  color: #333;
  font-weight: 600;
  font-size: 16px;
}

.medListModalHeader span:nth-child(2) {
  color: #0071bc;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.medListDetailsContainer {
  padding: 25px 16px 0px 16px;
  max-height: 400px;
  overflow: auto;
}

.medListDetails {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.medListDetails div {
  background-color: #0071bc;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 6px;
}

.medListDetails span {
  color: #333;
  font-weight: 500;
  font-size: 14px;
}

@media screen and (max-width: 480px) {
  .DailogWrap {
    background-color: #fff;
    border-radius: 10px 10px 0px 0px !important;
    box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%),
      0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
    position: relative;
  }

  .closeButton {
    text-align: center;
    padding: 15px;
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 24px;
  }

  .medListModalContainer .MuiDialog-paperWidthSm {
    width: 100% !important;
  }
  .medListModalContainer .MuiDialog-paper {
    margin: 0 !important;
  }
  .medListModalContainer .MuiPaper-rounded {
    border-radius: 10px 10px 0px 0px !important;
    background-color: transparent;
    box-shadow: none;
  }
  .medListModalContainer .MuiDialog-scrollPaper {
    align-items: flex-end !important;
  }
  /* .medListModalHeader span:nth-child(2) {
    display: none;
  } */
  .mobmedListClose {
    display: block;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 13%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2000;
  }
}
