.doctorRatingsMainContainer {
  background-color: #fff;
  /* box-shadow: 0px 20px 50px rgba(49, 45, 43, 0.1); */
  border-radius: 4px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.doctorRatingsLineLoader {
  width: 100%;
  height: 16px;
  border-radius: 4px;
}

.doctorRatingsLineLoader:nth-child(1) {
  width: 50%;
  margin-bottom: 20px;
}

.doctorRatingsLineLoader:nth-child(2) {
  width: 100%;
  height: 100px;
  margin-bottom: 8px;
}

.doctorRatingsLineLoader:nth-child(3) {
  width: 80%;
  height: 30px;
}

@media screen and (max-width: 768px) {
  /* .doctorRatingsMainContainer {
    margin: 0px 20px;
  } */
}
