.modificationLogShimmerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.modificationLogTextShimmer {
  width: 50%;
  height: 16px;
  margin: 20px 12px;
}

.modificationLogMedShimmer {
  height: 100px;
}

.modificationLogMedShimmer:last-child {
  margin: 0px 12px;
}
