/* Order Header */
.myOrders_MyOrdersShimmerWrapper {
}

.myOrders_orderHeaderWrapper {
  border-bottom: 2px solid #e3e6ec;
  margin-bottom: 24px;
  padding-bottom: 24px;
}
.myOrders_orderHeaderWrapperRow {
  display: flex;
  justify-content: space-between;
  height: 24px;
  margin-bottom: 6px;
}

.myOrders_orderHeaderWrapperRow > div {
  width: 100px;
  border-radius: 4px;
}

/* Product List */
.myOrders_productListWrapper {
  margin-bottom: 24px;
}

.myOrders_productListHeader {
  height: 24px;
  width: 150px;
  border-radius: 4px;
}

/* Address Section */
.myOrders_AddressSection {
  margin-bottom: 12px;
  border-radius: 6px;
  width: 100%;
  height: 120px;
}

/* Payment Section */
.myOrders_paymentSection {
  margin-bottom: 24px;
  border-radius: 6px;
  width: 100%;
  height: 54px;
}

.myOrders_returnWrapper {
  width: 100%;
  height: 44px;
  margin-bottom: 32px;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .myOrders_MyOrdersShimmerWrapper {
    margin-left: 16px;
    margin-right: 16px;
  }
  .myOrders_orderHeaderWrapper {
    border-bottom: 0px solid #e3e6ec;
    margin-bottom: 16px;
    padding-bottom: 0px;
  }
  .myOrders_orderHeaderWrapperRow {
    display: flex;
    justify-content: space-between;
    height: 20px;
    margin-bottom: 10px;
  }

  .myOrders_savingsMobWrapper {
    border-radius: 6px;
    height: 104px;
    margin-bottom: 24px;
    width: 100%;
  }
}
