.orderFlowPaymentLoaderMainContainer {
  background-color: #fff;
  box-shadow: 0px 20px 50px rgba(49, 45, 43, 0.1);
  border-radius: 4px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.orderFlowPaymentLineLoader {
  width: 60%;
  height: 16px;
  border-radius: 4px;
}

.orderFlowPaymentDivLoader {
  width: 100%;
  border-radius: 4px;
  height: 60px;
}

@media screen and (max-width: 768px) {
  .orderFlowPaymentLoaderMainContainer {
    margin: 10px 1.5rem 30px 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .orderFlowPaymentLoaderMainContainer {
    margin: 5px 1.5rem 0px 1.5rem;
  }
}
