.orderFlowSavingsLoaderMainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px 0px;
  border-radius: 10px;
  margin-top: 30px;
  box-shadow: 0px 20px 50px rgb(49 45 43 / 10%);
}

.orderFlowSavingsLineLoaderContainer:nth-child(1) {
  width: 60%;
  height: 30px;
  margin-bottom: 15px;
  border-radius: 4px;
}

.orderFlowSavingsLineLoaderContainer:nth-child(2) {
  width: 60%;
  height: 15px;
  margin-bottom: 8px;
  border-radius: 4px;
}
.orderFlowSavingsLineLoaderContainer:nth-child(3) {
  width: 62%;
  height: 15px;
  margin-bottom: 25px;
  border-radius: 4px;
}
.orderFlowSavingsLineLoaderContainer:nth-child(4) {
  width: 35%;
  height: 35px;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .orderFlowSavingsLoaderMainContainer {
    margin: 20px 20px 12vh 20px;
  }
}

@media screen and (max-width: 480px) {
  .orderFlowSavingsLoaderMainContainer {
    margin: 0px 1.5rem;
  }
}
