.selectPrescriptionContainer {
  padding: 16px 16px 100px 16px;
}

.selectPrescriptionContainer p {
  color: #333;
  font-weight: 700;
  font-size: 14px;
  margin: 0px 0px 16px 0px;
}

.tmUploadedContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tmUploadedContainer span {
  color: #8897a2;
  font-weight: 600;
  font-size: 12px;
  padding: 16px 0px;
}

.tmUploadedContainer div {
  width: 48%;
  height: 1px;
  background-color: #dce4f1;
}

.selectPrescriptionGridCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.selectPrescriptionInsideCard {
  border: 1px solid #c6c9cc;
  border-radius: 6px;
  height: 188px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 0px;
  position: relative;
}

.selectPrescriptionInsideCard img {
  width: 140px;
  height: 140px;
  margin: 0 auto;
  border-radius: 6px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.11));
  object-fit: cover;
  cursor: pointer;
}

.selectPrescriptionInsideCard div {
  display: flex;
  align-items: center;
  padding: 0px 8px;
}

.selectPrescriptionInsideCard .MuiCheckbox-root {
  padding: 0 !important;
  color: #8897a2 !important;
}

.MuiCheckbox-colorPrimary.Mui-checked {
  color: #0071bc !important;
}

.selectPrescriptionInsideCard div .presSelectText {
  color: #8897a2;
  margin-left: 5px;
  font-weight: 500;
  font-size: 12px;
}

.selectPrescriptionInsideCard div .presSelectedText {
  color: #0071bc;
  margin-left: 5px;
  font-weight: 500;
  font-size: 12px;
}
