.article-details-info-card-shimmer-container {
  display: flex;
  flex-flow: column;
}

.article-details-info-card-shimmer-header {
  width: 250px;
  height: 17px;
  border-radius: 5px;
  background-color: white;
}
.article-details-info-card-shimmer-subheader {
  width: 180px;
  height: 15px;
  border-radius: 5px;
  background-color: white;
}
.article-details-info-card-shimmer-timestamp {
  width: 130px;
  height: 15px;
  border-radius: 5px;
  background-color: white;
}

.article-details-info-card-shimmer-image-section {
  width: 100%;
  height: 295px;
  box-shadow: 0px 20px 50px rgba(49, 45, 43, 0.1);
}

.article-details-info-card-shimmer-line-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0px 20px 50px rgba(49, 45, 43, 0.1);
}

.article-details-info-card-shimmer-line-section {
  width: 300px;
  height: 15px;
  border-radius: 5px;
}
