.addressPatient_deliverySection__Wrap {
  background-color: #ecf2ff;
  padding: 16px;
  margin-bottom: 15px;
  position: relative;
}

.addressPatient_nonDelivery__wrap {
  background-color: #fff6eb;
}

.addressPatient_delivery__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addressPatient_headerLeftTitle {
  display: flex;
  align-items: center;
  gap: 10px;
}

.addressPatient_title {
  color: #40464d;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Inter";
}

.addressPatient_headerRightTitle {
  color: #0071bd;
  font-size: 14px;
  font-weight: 700;
  font-family: "Inter";
  cursor: pointer;
}

.addressPatient_detail__wrap {
  margin-top: 10px;
}

.addressPatient_address__wrap {
}

.addressPatient_address_title {
  color: #4f585e;
  font-size: 14px;
  font-family: "Inter";
  font-weight: 700;
}

.addressPatient_address_details {
  font-size: 14px;
  color: #4f585e;
  font-weight: 400;
}

.addressPatient_address_patient_coachmark {
  background: radial-gradient(
    102.08% 918.75% at -2.08% 6.25%,
    rgba(48, 48, 48, 0.664) 0%,
    rgba(32, 32, 32, 0.648) 99.48%
  );
  backdrop-filter: blur(12px);
  border-radius: 4px;
  padding: 5px 12px;
  width: fit-content;
  position: absolute;
  right: 0;
  bottom: -40px;
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
  z-index: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.addressPatient_address_patient_coachmark div {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 75%;
  border-width: 9px;
  border-style: solid;
  border-color: transparent transparent #717171 transparent;
}

.addressPatient_address_patient_coachmark p {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.addressPatient_errorPrompt_wrap {
  display: flex;
  background: #ffc37d;
  border-radius: 4px;
  padding: 10px 10px;
  gap: 5px;
  margin-bottom: 15px;
}

.addressPatient_errorPrompt_text {
  font-size: 14px;
  font-weight: 600;
  font-family: "Inter";
  color: #40464d;
}

.addressPatient_errorPrompt_img {
}

.addressPatient_dropPointer {
  display: none;
}

@media screen and (max-width: 468px) {
  .addressPatient_headerRightTitle {
    font-size: 12px;
  }
  .addressPatient_address_title {
    font-size: 12px;
  }
  .addressPatient_address_details {
    font-size: 12px;
  }
  .addressPatient_dropPointer {
    width: 18px;
    height: 20px;
    background: #ecf2ff;
    border-radius: 3px;
    position: absolute;
    bottom: -10px;
    transform: rotate(45deg);
    left: 0;
    right: 0;
    margin: auto;
    display: block;
  }
  .addressPatient_dropPointerError {
    background: #fff6eb;
  }
}
