.headerWithCta_HeaderCTAWrap {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  cursor: pointer;
}

.headerWithCta_title {
  color: #4f585e;
  font-size: 14px;
  font-weight: 600;
}

.headerWithCta_ctaText {
  color: #0071bd;
  font-size: 14px;
  font-weight: 600;
}

.headerWithCta_sticky {
  position: sticky;
  top: 0px;
  background: #fff;
  padding-top: 15px;
  margin-top: -15px;
}

@media screen and (max-width: 468px) {
  .headerWithCta_sticky {
    position: sticky;
    top: 0px;
    background: #fff;
    padding-top: 15px;
    margin-top: -15px;
  }
}
