.prescriptionSection_headerSection {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #40464d;
  margin-top: 22px;
}

.prescriptionSection_prescriptionWrapOd {
  margin-bottom: 8px;
}

.prescriptionSection_prescriptionContainer {
  border: none;
  border-radius: 4px;
  padding: 26px 0px 24px 0px;
  max-width: 55vw;
  display: flex;
  grid-gap: 15px;
  gap: 15px;
}

.prescriptionSection_customMarginTop {
  margin-top: 0px;
}

.prescriptionSection_bodySection {
  margin-bottom: 8px;
}

.prescriptionSection_prescriptionWrapOd {
}
@media screen and (max-width: 768px) {
  .prescriptionSection_prescriptionWrap {
    padding: 0px 15px;
  }

  .prescriptionSection_customMarginTop {
    margin-top: 0px;
  }
  .prescriptionSection_bodySection {
    margin-bottom: 0px;
  }

  .prescriptionSection_prescriptionWrapOd {
    margin-bottom: 8px;
  }

  .prescriptionSection_prescriptionContainer {
    max-width: 100vw;
  }
}
