.totalCalculations_calculationWrap {
  border-radius: 5px;
  border: 1px solid #dfe3e6;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.totalCalculations_title {
  color: #40464d;
  font-size: 16px;
  font-weight: 600;
  font-family: "Inter";
}

.totalCalculations_calculationValue {
  color: #40464d;
  font-size: 16px;
  font-weight: 700;
  font-family: "Inter";
}
