.orderDetails_cardWrap {
  height: 76px;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .orderDetails_cardWrap {
    height: 48px;
    border-radius: 0px;
    margin-bottom: 16px;
    margin-left: -16px;
    margin-right: -16px;
    width: 110%;
  }
}
