.orderDetails_doctorCardWrap {
  margin: 0px 16px 24px 16px;
}

.orderDetails_docTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #40464d;
  margin-bottom: 12px;
}

.orderDetails_detailsWrap {
  display: flex;
}

.orderDetails_imgWrap {
  margin-right: 10px;
}

.orderDetails_detailsSectionTitleSection {
  display: flex;
}

.orderDetails_detailsSectionTitle {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* text-transform: capitalize; */
  color: #4f585e;
  margin-right: 4px;
}

.orderDetails_detailsSectionValue {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-transform: capitalize;
  color: #4f585e;
}

.orderDetails_ctaSection {
  display: flex;
  align-items: center;
}

.orderDetails_ctaTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-transform: capitalize;
  color: #0071bd;
  margin-right: 8px;
  display: flex;
  align-items: center;
  align-self: center;
}
