.empty-cart-page-container {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  margin-bottom: 100px;
}

.empty-cart-page-left {
  /* border: 1px solid black; */
  width: 70%;
  margin-top: 24px;
}

.empty-cart-page-left p {
  color: #40464d;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 28px;
}

@media screen and (max-width: 768px) {
  .empty-cart-page-left p {
    text-align: center;
  }
}

.empty-cart-page-left div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-cart-page-left div img {
  width: 300px;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .empty-cart-page-left div img {
    width: 230px;
    margin-bottom: 30px;
  }
}

.empty-cart-page-right {
  /* border: 1px solid black; */
  width: 30%;
  margin-top: 48px;
}

@media screen and (max-width: 1400px) {
  .empty-cart-page-container {
    width: 80vw;
  }
}

@media screen and (max-width: 1210px) {
  .empty-cart-page-container {
    width: 80vw;
  }
}

@media screen and (max-width: 968px) {
  .empty-cart-page-container {
    flex-direction: column;
    width: 70vw;
  }
  .empty-cart-page-left {
    width: 100%;
  }
  .empty-cart-page-right {
    width: 100%;
  }
}

@media screen and (max-width: 468px) {
  .empty-cart-page-container {
    flex-direction: column;
    width: 95vw;
  }
  .empty-cart-page-left {
    width: 100%;
  }
  .empty-cart-page-right {
    width: 100%;
  }
}

.addMedBtn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 600;
  font-size: 17px;
  background-color: #22b573;
  border-radius: 6px;
  color: #fff;
  white-space: nowrap;
  padding: 10px 37px;
  border: none;
}
